:root {
    --text-colour: #333333;
    --accent-colour: #4d13d1;
    --selection-colour: #ABA7E8;
    --font: 'Open Sans', sans-serif;
    --max-width: 800px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 2rem;
    font-size: 16px;
    font-family: var(--font);
    line-height: 1.45;

    color: var(--text-colour);
}

::selection {
    background: var(--selection-colour);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--selection-colour);
    /* Gecko Browsers */
}

.container {
    max-width: var(--max-width);
    margin: auto;
}

a {
    color: var(--text-colour);
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

a:hover {
    color: var(--accent-colour);
}

img {
    display: block;
    max-width: 100%;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 1.75rem 0 1rem;
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

ul {
    line-height: 1.6;
}
